# Iris flower classifier using Decision Tree

Importing the Packages

In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

Loading the data

In [2]:
data=pd.read_csv("Iris.csv")
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

Now remove the label data from the input data

In [4]:
X = data.drop('Species', axis=1).values
y = data['Species'].values

Now split the data into training data and testing data

In [7]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.02, random_state=0)

Scale the training data such that the mean of each column becomes equal to zero, and the standard deviation of each column is one.

In [8]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

Fit the training data.

In [9]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

Scale the testing data

In [10]:
X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)

Measure the performance of Training data.

In [11]:
model.score(X_train, y_train)

1.0

Measure the performance of Testing data.

In [12]:
model.score(X_test, y_test)

1.0

Build a Confusion matrix for actual label data and predicted label data

In [13]:
confusion_matrix(y_test, y_pred)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int64)

Find all the evaluation metrics like accuracy,precision,recall and f1-score

In [14]:
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         1
Iris-versicolor       1.00      1.00      1.00         1
 Iris-virginica       1.00      1.00      1.00         1

       accuracy                           1.00         3
      macro avg       1.00      1.00      1.00         3
   weighted avg       1.00      1.00      1.00         3

CONCLUSION : We can say that our model perform well.